@font-face {
    font-family: Inter;
    src: url('..fonts/Inter.ttf');
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-size: normal;
}
@font-face {
    font-family: InterTight;
    src: url('..fonts/InterTight.ttf');
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-size: normal;
}

h1{
    font-size: 2rem;
}

.title{
    
}

.header{

}

.h3{

}

.subheader{

}