:root{
    --Black: rgba(0, 0, 0, 1);
  --White: rgba(255, 255, 255, 1);
  --teal: rgba(23, 99, 99, 0);
  --lightcyan: rgba (224, 255, 255);
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter.ttf');
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-size: normal;
}
@font-face {
    font-family: InterTight;
    src: url('../fonts/InterTight.ttf');
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-size: normal;
}
body{
  font-family: Inter,Arial, Helvetica, sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
  font-family: InterTight;
  font-size: 2.5rem;
  color: #09514D;
}
h2{
  color: #09514D;
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  padding-top: 20px;
  font-family: InterTight;
  text-decoration: none;
  color: #117C76;
  font-size: 1.5rem;
}
h4{
  font-family: InterTight;
  text-decoration: none;
  color: rgb(42, 42, 42);
}

header {
    padding: 1rem;
    position: relative;
    width: 100%;
    
  }

  header label {
    cursor: pointer;
    height: 1.25rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 1.625rem;
    z-index: 1001;
    
  }

  header label span {
    background-color: #0B6E69;
    border-radius: 2px;
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
    transform-origin: left;
  }

  header label span:nth-child(1) {
    top: 0;
  }

  header label span:nth-child(2) {
    top: 0.5rem;
  }

  header label span:nth-child(3) {
    top: 1rem;
  }
  
  header nav {
    background: rgb(251, 222, 226);
    height: 100vh;
    width: 18.75rem;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    text-align: center; 
    padding: 2rem;

    li {
      margin-bottom: 1rem;

      a {
        color: #083C3A;
        text-decoration: none;
      }
    }
  }
  
  /* Show nav when checkbox is checked */
  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }
 
.hero-img{
    max-width: 100%
}
.email{
  margin: 0;
  padding-top: 12px;
}
.no-deco{
  text-decoration: none;
}
.hero-img{
padding-bottom: 32px;
}
.spacing{
  padding-top: 20px;
}
.spacing2{
  padding: 0;
  margin-bottom: 0;
}
.spacing3{
  padding-bottom: 20px;
}
.spacing4{
  margin-top: -10px;
  padding-bottom: 20px;
}

.contain{
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: black;
  margin-top: 0;
}

.subheader{
text-decoration: none;
}

.line{
    height: 5px;
    background-color: #09514D;
    width: 20%;
    margin: 60px auto;
}
  .footer ul{
    background: rgb(251, 222, 226);
    font-family: Inter;
    text-decoration: none;
    list-style: none;
    text-align: center; 
    padding: 50px 10px; 
    font-size: 16px; 
  
  }
  .footer ul li {
    margin: 15px 0;
  }
  .footer a {
    text-decoration: none; 
    color: #083C3A
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }
  <hr style="border: 1px solid black; width: 50%; margin: 20px auto;">
